@model CreateUpdateMovieVM
<div class="modal-content border">
    <form asp-area="Admin" asp-controller="Movie" asp-action="Create"
          method="post" enctype="multipart/form-data">
        <div class="modal-header px-x1 bg-light border-bottom-0">
            <h5 class="modal-title">Create Movie</h5>
        </div>
        <div class="modal-body p-x1">
            <div class="mb-3">
                <label class="fs-0" for="Name">Name</label>
                <input class="form-control" id="Name" type="text" name="Name" required="required" />
            </div>

            <div class="mb-3">
                <label class="fs-0" for="Description">Description</label>
                <textarea class="form-control" rows="3" name="Description" id="Description"></textarea>
            </div>

            <div class="mb-3">
                <label class="fs-0">Image</label>
                <input type="file" class="form-control" name="ImageFile" accept="image/*" required
                       onchange="previewImage(event)" />

                <!-- Preview -->
                <div class="mt-2" id="imagePreview" style="display:none;">
                    <img id="previewImg" src="" alt="Preview"
                         style="max-width: 200px; max-height: 200px; border-radius: 8px;" />
                </div>
            </div>

            <div class="mb-3">
                <label for="name" class="form-label">SubImages</label>
                <input type="file" class="form-control" accept="image/*" name="SubImageFiles" multiple />
            </div>

            <div class="mb-3">
                <label class="fs-0" for="Price">Price</label>
                <input class="form-control" id="Price" type="number" name="Price" required="required" />
            </div>


            <div class="mb-3">
                <label class="fs-0" for="Status">Status</label>
                <select class="form-select" id="Status" name="Status">
                    <option value="true" selected="selected">Active</option>
                    <option value="false">InActive</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="fs-0 d-block mb-2">Rate</label>

                <div id="movieRate"></div>
                <input type="hidden" id="Rate" name="Rate" />
            </div>


            <div class="mb-3">
                <label class="form-label" for="datetimepicker"> Date</label>
                <input name="DateTime" class="form-control datetimepicker" id="datetimepicker" type="text" placeholder="d/m/y H:i" data-options='{"enableTime":true,"dateFormat":"d/m/y H:i","disableMobile":true}' />

            </div>



            <div class="mb-3">
                <label for="CategoryId" class="form-label">Category</label>
                <select class="form-select" name="CategoryId">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>


            
            <div class="mb-3">
                <label for="CinemaId" class="form-label">Cinema</label>
                <select class="form-select" name="CinemaId">
                    @foreach (var item in Model.Cinemas)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>



            
            
            <div class="mb-3">
                <label for="CinemaId" class="form-label">Cast</label>
                <select class="form-select js-choice" id="ActorId" multiple="multiple" size="1" name="ActorIds" data-options='{"removeItemButton":true,"placeholder":true}'>
                    @foreach (var item in Model.Actors)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>






            <div class="modal-footer d-flex justify-content-end align-items-center bg-light border-0">
                <button class="btn btn-primary px-4" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    function previewImage(event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('previewImg').src = e.target.result;
                document.getElementById('imagePreview').style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    }
</script>


<script>
        document.addEventListener("DOMContentLoaded", function () {

                raterJs({
        element: document.getElementById("movieRate"),
        starSize: 32,
        step: 0.5,
        rateCallback: function (rating, done) {

            document.getElementById("Rate").value = rating;

            this.setRating(rating);
            done();
        }
    });

        });
</script>